{% extends "base.html" %} 

{% block title %}Recipes Share{% endblock %} 

{% block content %}

<h1 class="text-white-50 container mt-4">Welcome, {{session['first_name']}}</h1>
<div class="container text-white-50 d-flex justify-content-between align-items-center">
  <div>
    <p class="my-0 py-0">All Posted Recipes</p>
  </div>
  <div>
    <a href="/recipe/new" class="btn btn-dark m-3 text-decoration-underline">+ Create</a>
    <a href="/user/logout" class="btn btn-dark m-3">Log Out</a>
  </div>
</div>

<div class="container">
  <table class="table table-info table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Under</th>
        <th>Posted By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe_index in range(recipes|length) %}
      <tr>
        <td>{{recipes[recipe_index].name}}</td>
        <td>{{recipes[recipe_index].under}}</td>
        <td>{{users[recipe_index].first_name}}</td>
        <td>
          <a href="/recipes/{{recipes[recipe_index].id}}">View Recipe</a>
          {% if recipes[recipe_index].user_id == session['user_id'] %}
           | <a href="/recipes/edit/{{recipes[recipe_index].id}}">Edit</a>
           | <a href="/recipes/delete/{{recipes[recipe_index].id}}">Delete</a>
          {% endif %}
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}